name: Check, Lint, Test, Build

on: push

jobs:
  check:
    name: Check
    runs-on: windows-2022
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test Suite
    runs-on: windows-2022
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo test
        run: cargo test

  lints:
    name: Lints
    runs-on: windows-2022
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy -- -D warnings

  build:
    name: Build
    runs-on: windows-2022
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo build
        run: cargo build

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: arcdps-chat-log-debug
          path: target/debug/arcdps_chat_log.dll

  sign-debug:
    name: Sign Debug Build
    runs-on: windows-2022
    environment: release
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: arcdps-chat-log-debug

      - name: Azure login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Sign files with Trusted Signing
        uses: azure/trusted-signing-action@v0.5.0
        with:
          endpoint: https://weu.codesigning.azure.net/
          trusted-signing-account-name: jsc-codesigning
          certificate-profile-name: public-trust
          files: ${{ github.workspace }}\target\debug\arcdps_chat_log.dll
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Upload signed build
        uses: actions/upload-artifact@v4
        with:
          name: arcdps-chat-log-debug-signed
          path: target/debug/arcdps_chat_log.dll

  build-release:
    name: Build Release
    runs-on: windows-2022
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo build --release
        run: cargo build --release

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: arcdps-chat-log-release
          path: target/release/arcdps_chat_log.dll

  sign-and-release:
    name: Sign and Release
    runs-on: windows-2022
    if: startsWith(github.ref, 'refs/tags/')
    needs: build-release
    environment: release
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: arcdps-chat-log-release

      - name: Azure login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Sign files with Trusted Signing
        uses: azure/trusted-signing-action@v0.5.0
        with:
          endpoint: https://weu.codesigning.azure.net/
          trusted-signing-account-name: jsc-codesigning
          certificate-profile-name: public-trust
          files: ${{ github.workspace }}\target\release\arcdps_chat_log.dll
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Upload signed build
        uses: actions/upload-artifact@v4
        with:
          name: arcdps-chat-log-release-signed
          path: target/release/arcdps_chat_log.dll

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: target/release/arcdps_chat_log.dll
